<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>home</title>
        <style type = "text/css">
            .bg {
                background-image: url(https://cdn.luogu.com.cn/upload/image_hosting/szo44p67.png);
                background-size : 100% 100%;
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
        </style>
    </head>
    <body class = "bg">
        <h1 style = "color:orangered">
            Welcome {{name}}
        </h1>
        <a href = "https://www.luogu.com.cn" style = "color:brown">洛谷</a>
        <div style = "white-space:pre">
            <center><h2>聊天内容</h2></center>
            <center>注：因为开发者水平有限，您不能连续两次发送相同的消息；同时您需要刷新来查看最新消息</center>
            <center style = "color:rgb(4, 63, 4)">{{string}}</center>
        </div>
        <center>
            <form action = "/" method = "post">
                <input name = "text" type = "text" value = "">
                <input name = "su" type = "submit" value = "提交">
            </form>
        </center>
    </body>
</html>